body {
	font-family: 'Source Sans Pro, Arial, sans-serif';
	background-color: #676d79;
	color: white;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=file] {
	position: absolute;
	top: 0; left: 0;
	width: 225px;
	opacity: 0;
	padding: 14px 0;
	cursor: pointer;
}

.input-file-container {
  position: relative;
  width: 225px;
} 

.input-file-trigger {
  display: block;
  padding: 14px 45px;
  background: #39D2B4;
  color: #fff;
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;
}

.output {
	background-color: #66666657;
	height:306px;
	width:421px;
	clear:both;
}

.submit {
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

input, label {
    display:block;
}